In [3]:
import pandas as pd

In [4]:
acled_india = pd.read_csv("./data/2016-01-01-2019-03-05-India.csv")

In [5]:
acled_india.describe()

,data_id,iso,event_id_no_cnty,year,time_precision,inter1,inter2,interaction,latitude,longitude,geo_precision,fatalities,timestamp
count,4.372000e+04,43720.0,43720.000000,43720.000000,43720.000000,43720.000000,43720.000000,43720.000000,43720.000000,43720.000000,43720.000000,43720.000000,4.372000e+04
mean,2.273510e+06,356.0,23419.192887,2017.266125,1.048285,5.692658,0.825801,52.311825,25.231078,79.555633,1.155192,0.035842,1.544472e+09
std,4.397306e+05,0.0,13580.803489,0.958775,0.227919,0.754399,2.000682,15.700649,7.292660,6.149583,0.405762,0.294153,3.304940e+06
min,1.758481e+06,356.0,1.000000,2016.000000,1.000000,1.000000,0.000000,15.000000,1.997700,68.826500,0.000000,0.000000,1.536674e+09
25%,2.016902e+06,356.0,11684.750000,2016.000000,1.000000,6.000000,0.000000,57.000000,21.487100,75.115975,1.000000,0.000000,1.542756e+09
50%,2.028040e+06,356.0,23341.500000,2017.000000,1.000000,6.000000,0.000000,60.000000,26.976000,77.089900,1.000000,0.000000,1.542756e+09
75%,2.566829e+06,356.0,35260.250000,2018.000000,1.000000,6.000000,0.000000,60.000000,30.736200,81.428100,1.000000,0.000000,1.546890e+09
max,3.213293e+06,356.0,46888.000000,2019.000000,3.000000,8.000000,8.000000,78.000000,34.846000,96.994300,3.000000,29.000000,1.551201e+09

In [6]:
acled_india.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,actor1,assoc_actor_1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,3204471,356,IND46879,46879.0,23 February 2019,2019,1,Riots/Protests,Protesters (India),INC: Indian National Congress,...,Cuttack,20.4636,85.8826,1,Orissa TV (India),Subnational,"On February 23, Congress workers staged a prot...",0,1551196400,IND
1,3204472,356,IND46880,46880.0,23 February 2019,2019,1,Riots/Protests,Rioters (India),ABVP: Akhil Bharatiya Vidyarthi Parishad; Stud...,...,Bhubaneswar,20.2724,85.8338,1,Hindustan Times (India),National,"On February 23, members of the ABVP gheraoed t...",0,1551196400,IND
2,3204473,356,IND46881,46881.0,23 February 2019,2019,1,Riots/Protests,Rioters (India),BJYM: Bharatiya Janata Yuva Morcha,...,Kolkata,22.5728,88.3747,1,India Blooms News Service,National,"On February 23, members of BJP's youth wing st...",0,1551196400,IND
3,3204474,356,IND46882,46882.0,23 February 2019,2019,1,Riots/Protests,Protesters (India),Lawyers (India),...,Lucknow,26.8392,80.9231,1,Asian News International,National,"On 23 Feb, lawyers held a protest at Lucknow c...",0,1551196400,IND
4,3204475,356,IND46883,46883.0,23 February 2019,2019,1,Riots/Protests,Protesters (India),JKNC: Jammu and Kashmir National Conference,...,Srinagar,34.0857,74.8056,1,Kashmir Observer,Subnational,"On 23 Feb, JKNC activists staged a protest mar...",0,1551196400,IND